ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	display: inline;
	padding: 2%;
}

#nav {
	background-color: lavender;
	text-align: center;
}

a:link {
	color: black;
}

a:visited {
	color: white;
}

a:hover {
	color: red;
	font-size: 125%;
}

a:active {
	color: green;
	font-weight: bold;
	font-size: 200%;
}
