
caption {
	padding-bottom: 10px;
	font-size: 1.5em;
	font-weight: bold;
}

table {
	/* collapse overlapping borders */
	border-collapse: collapse;
	border-width: 3px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

td {
	/* pad the cells so the text isn't against borders*/
	padding: 4px 10px; /* 4px top/bottom, 10px left/right */
}

/* header formatting */
th {
	font-size: 1.2em;
	font-family: Helvetica, Arial, sans-serif;
	padding: 3px;
}

/* border the schedule table */
#mySchedule {
	border: solid;
}

#mySchedule th {
	background-color: lavender;
}

/* border all cells in the schedule table */
#mySchedule td, #mySchedule th {
	border: solid;
	border-width: 1px;
}

#studyGroup thead tr td {
	background-color: navajowhite;
	border: solid;
	border-color: white;
	text-align: center;	
}

#studyGroup tbody tr:first-of-type {
	font-weight: bold;
}

#studyGroup tbody tr {
	border-bottom: dashed;
	border-width: 1px;
}

#studyGroup tbody tr:last-of-type {
	border-bottom: none;
}

#studyGroup tfoot td {
	background-color: cyan;
	text-align: center;
	color: blue;
	border: solid;
	border-color: white;
}

#refreshments {
	border: solid;
	border-color: blue;
	width: 300px;
}

#refreshments tr:nth-child(odd) {
	background: cyan;
}

#refreshments th {
	border-color: blue;
	background-color: blue;
	color: white;
}

#refreshements tr {
	border: solid;
	border-width: 1px;
	border-color: blue;
}

